<%- include('./partials/header') %>
<%  let total = 0  %>
<% if(data.length===0) {%>
    <div class="text-3xl  text-center text-red-600" >Cart Is Empty</div>
<% } else {%>

<%   data.forEach((ele)=>{  %>
    <div class="w-full  flex items-start px-20 py-20 gap-10">
        <div class="w-[30%]  rounded-md  ">
            <div class="w-full ">
                <img src="data:image/jpeg;base64,<%= ele.image.toString('base64') %>" class="object-cover object-center" alt="">
            </div>
            <div class="w-full flex justify-between px-5 py-4">
                <h3 class="text-2xl"><%= ele.name %></h3>
                <div class="flex items-center gap-2">
                    <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-add-line"></i>
                    <div class="px-2 py-1 rounded-md bg-white text-black">01</div>
                    <i class="w-7 h-7 bg-white flex rounded-full items-center justify-center ri-subtract-line"></i>
                </div>
            </div>
            <a class=" text-center border border-red-300 rounded-xl text-red-600 p-1" href="remove/<%= ele._id %>">Remove From Cart</a>
            
        </div>
        <div class="w-[70%]">
            <h3 class="text-xl">Price Breakdown</h3>
            <div class="px-10 mt-5">
                <div class="flex mt-2">
                    <h4 class="w-1/3">Total MRP</h4>
                    <h4>₹ <%= ele.price %></h4>
                </div>
                <div class="flex mt-2">
                    <h4 class="w-1/3">Discount on MRP</h4>
                    <h4>₹ <%= ele.discount %></h4>
                </div>
                <div class="flex mt-2">
                    <h4 class="w-1/3">Platform Fee</h4>
                    <h4>₹ 20</h4>
                </div>
                <div class="flex mt-2">
                    <h4 class="w-1/3">Shipping Fee</h4>
                    <h4>FREE</h4>
                </div>
            </div>
            <div class="w-full h-[1px] bg-black mt-10"></div>
            <div class="flex mt-5">
                <h3 class="w-1/3 text-xl">Total Amount</h3>
                <h3 class="font-semibold text-xl text-green-600">₹ <%= ele.discount+20 %></h3>
            </div>
            <%  total+=ele.discount+20 %>
            <form action=""></form>
        </div>
    </div>
    <% }) %>
    <div>
        <div class="flex items-center justify-between text-6xl px-5 py-3">
            <h4 class="text-lg">Net Total</h4>
            <h2 class="text-lg text-green-600 font-bold">₹ <%= total %></h2>
        </div>
    </div>
    <% } %>

    <%- include('./partials/footer') %>